---
import Section from "../../common/Section.astro";
import SmartBanner from "../../common/SmartBanner.astro";

const { data } = Astro.props;
---

<Section size={data.size}>
  <SmartBanner data={data} />
</Section>
