---
import Section from "@/components/common/Section.astro";
import Button from "@/components/common/Button.astro";
import Icon from "@/components/common/Icon.astro";

// const { data } = Astro.props;
---

<Section>
  <div class="wrapper">
    <div class="main">
      <h4 class="title gl-title" set:html={"Как подключить?"} />
      <p class="descr gl-descr" set:html={"Просто&nbsp;&mdash; оставьте заявку, а&nbsp;коллеги ответят <br class=\"tablet\">на&nbsp;вопросы и&nbsp;помогут начать работу"} />
      <div class="form-wrapper">
        <form>
          <input class="input" type="text" name="name" id="name" placeholder="Имя">
          <input class="input" type="tel" name="phone" id="phone" placeholder="+7">
          <Button class="form-button" expanded>Подписаться</Button>
        </form>
        <p class="agreement gl-descr" set:html={"Оставляя заявку, вы&nbsp;соглашаетесь с&nbsp;условиями использования сервиса &laquo;Первая&nbsp;Онлайн&nbsp;Бухгалтерия&raquo;"} />
      </div>
    </div>
    <div class="footer">
      <div>
        Три причины быть с нами
        <Icon class="icon" name="arrow-thin-right" width="20" height="20" />
      </div>
      <div>
        Чем мы вам поможем
        <Icon class="icon" name="arrow-thin-right" width="20" height="20" />
      </div>
    </div>
  </div>
</Section>

<style lang="scss">
.wrapper {
  max-width: 40rem;
  margin: 0 auto;
  background-color: var(--dark-background);
  border-radius: 1.6rem;
  
  @include tablet {
    max-width: 60rem;
    border-radius: 2rem;
  }
  @include laptop {
    border-radius: 3rem;
  }
}

.main {
  padding: 3rem 1.6rem 1.6rem;

  @include tablet {
    padding-top: 4rem;
  }
  @include laptop {
    padding: 6rem 3rem 3rem;
  }
}

.title {
  margin-bottom: 1.6rem;
  
  @include tablet {
    margin-bottom: 2rem;
  }
}

.descr {
  margin-bottom: 1.6rem;

  @include tablet {
    margin-bottom: 4.5rem;
  }
  @include laptop {
    margin-bottom: 6rem;
  }
}

.form-wrapper {
  @include tablet {
    max-width: 42rem;
    margin: 0 auto;
  }
}

.input,
.input::placeholder {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  
  @include laptop {
    font-size: 1.8rem;
    line-height: 1.11;
  }
}

.input {
  width: 100%;
  padding: 1.5rem 2rem;
  color: var(--dark-secondary);
  background-color: var(--light-primary);
  border: none;
  border-radius: 10rem;

  @include laptop {
    padding: 2rem;
  }
}

.input::placeholder {
  color: var(--dark-terteriary);
}

.input + .input {
  margin-top: 1.6rem;
}

.form-button {
  margin-top: 2rem;
}

.agreement {
  margin-top: 2rem;
  font-size: 1.4rem;

  @include laptop {
    font-size: 1.6rem;
  }
}

.footer {
  padding: 1.6rem;
  border-top: 0.1rem solid #DDDEDF;

  @include tablet {
    display: flex;
    column-gap: 1.6rem;
  }

  @include laptop {
    padding: 3rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    border-radius: 1.5rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    line-height: 1.4;
    background-color: var(--light-primary);
  }

  div + div {
    @include mobile-only {
      margin-top: 1rem;
    }
  }

  .icon {
    color: var(--blue-primary);
  }
}
</style>
