---
import Icon from '../../common/Icon.astro';
---

<div>
  <Icon name="loader-gradient" class="icon" width="80" height="80" />
  <Icon name="circle-part-gradient" class="icon" width="80" height="80" />
  <Icon name="book-gradient" class="icon" width="80" height="80" />
  <!-- <Icon name="arrow-prev-in-circle-gradient" class="icon-grad" width="60" height="60" /> -->
</div>

<style>
/* .icon-grad > use> #grad > #circle {
  display: none;
} */
</style>