---
import Button from "../../common/Button.astro";
---

<section class="marg-bott">
  <div class="container">
    <div class="header">
      <h2 class="title">Тарифы для старта, развития и&nbsp;взрослого бизнеса</h2>
      <p class="descr">Оставьте заявку на&nbsp;любой тариф и&nbsp;мы&nbsp;свяжемся в&nbsp;течение 15&nbsp;минут</p>
    </div>
    <ul class="cards">
      <li class="card">
        <div class="card__content">
          <h3 class="card__title">&laquo;Новичок&raquo;</h3>
          <p class="card__descr">Для бизнеса не&nbsp;старше 12&nbsp;месяцев с&nbsp;регистрации, совершающего не&nbsp;более 20&nbsp;операций в&nbsp;месяц и&nbsp;не&nbsp;более 2-х сотрудников</p>
          <div class="card__footer">
            <span class="card__price">от&nbsp;3&nbsp;900&nbsp;₽&nbsp;/ мес.</span>
            <a href="" class="card__link" />
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__content">
          <h3 class="card__title">&laquo;Маркетбухгалтерия&raquo;</h3>
          <p class="card__descr">Учтём комиссии маркетплейсов и&nbsp;корректно отразим их&nbsp;в&nbsp;отчётности и&nbsp;платёжных поручениях.</p>
          <div class="card__footer">
            <span class="card__price">от&nbsp;4&nbsp;290&nbsp;₽&nbsp;/ кв.</span>
            <a href="" class="card__link" />
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__content">
          <h3 class="card__title">&laquo;Бухгалтер для&nbsp;ИП&raquo;</h3>
          <p class="card__descr">Ведём налоговый учёт для предпринимателей на&nbsp;УСН &laquo;Доходы&raquo; или патенте</p>
          <div class="card__footer">
            <span class="card__price">от&nbsp;18&nbsp;000&nbsp;₽&nbsp;/ год.</span>
            <a href="" class="card__link" />
          </div>
        </div>
      </li>
    </ul>
    <Button class="button-more">Показать все</Button>
  </div>
</section>
<section class="marg-bott">
  <div class="container">
    <div class="header">
      <h2 class="title">Можем больше</h2>
      <p class="descr">Учёт работает, как часы, но&nbsp;теперь расскажем, что умеем ещё</p>
    </div>
    <ul class="cards">
      <li class="card">
        <div class="card__content">
          <h3 class="card__title">Кадровый учёт</h3>
          <p class="card__descr">Фиксируем все этапы трудовых отношений и&nbsp;готовим отчёты о&nbsp;них в&nbsp;Социальный фонд России.</p>
          <div class="card__footer">
            <span class="card__price">от&nbsp;1&nbsp;650&nbsp;₽&nbsp;/ мес.</span>
            <a href="" class="card__link" />
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__content">
          <h3 class="card__title">Консультации</h3>
          <p class="card__descr">Рассчитаем, ответим на&nbsp;вопросы и&nbsp;поможем выбрать самую выгодную систему налогообложения и&nbsp;ставку НДС для вашего бизнеса.</p>
          <div class="card__footer">
            <span class="card__price">от&nbsp;5&nbsp;000&nbsp;₽</span>
            <a href="" class="card__link" />
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__content">
          <h3 class="card__title">Отчёты в&nbsp;Росстат</h3>
          <p class="card__descr">Подготовим статистическую отчётность, если ваш бизнес попал в&nbsp;выборку.</p>
          <div class="card__footer">
            <span class="card__price">от&nbsp;1&nbsp;500&nbsp;₽</span>
            <a href="" class="card__link" />
          </div>
        </div>
      </li>
    </ul>
    <Button class="button-more">Показать все</Button>
  </div>
</section>

<style lang="scss">
.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
  @include laptop {
    gap: 3rem;
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header {
  margin-bottom: 4rem;

  & > .title + .descr {
    margin-top: 2rem;
  }
}

.card {
  --padding: 1.6rem;
  --border-radius: 1.6rem;
  --border-width: 0.1rem;
  --border-width-hover: 0.2rem;
  --background: #A9AAAC; //--dark-terteriary in hex6
  --background-hover: var(--blue-gradient);
  position: relative;
  display: flex;
  background: var(--background-hover);
  border-radius: var(--border-radius);
  transition: transform 0.4s cubic-bezier(0, 0, .4, 1);

  @include laptop {
    --padding: 3rem;
    --border-radius: 3rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-radius: var(--border-radius);
    transition: opacity 0.4s;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    margin: var(--border-width);
    padding: calc(var(--padding) - var(--border-width));
    background-color: var(--light-primary);
    border-radius: calc(var(--border-radius) - var(--border-width));
    transition: margin 0.4s, padding 0.4s, border-radius 0.4s;
  }

  &:hover {
    transform: scale(1.07);

    &::before {
      opacity: 0;
    }

    .card__content {
      margin: var(--border-width-hover);
      padding: calc(var(--padding) - var(--border-width-hover));
      border-radius: calc(var(--border-radius) - var(--border-width-hover));
    }
  }
}

.card__title {
  font-size: 2.6rem;
  line-height: 1.2;
}

.card__descr {
  @include laptop {
    font-size: 2rem;
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.card__price {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: var(--dark-primary);

  @include laptop {
    font-size: 2.4rem;
  }
}

.card__link {
  --link-border-radius: 50%;
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
  background-color: var(--background);
  border-radius: var(--link-border-radius);
}

.card__link::before,
.card__link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--link-border-radius);
}

.card__link::before {
  margin: var(--border-width);
  background-color: var(--light-primary);
  transition: margin 0.2s;
}

.card__link::after {
  margin: var(--border-width-hover);
  background: var(--background);
  mask: url('/icons/icon-arrow-prev.svg') no-repeat center;
  mask-size: 3rem;
}

.card:hover {
  .card__link {
    background: var(--background-hover);
  }

  .card__link::before {
    margin: var(--border-width-hover);
  }

  .card__link::after {
    background: var(--background-hover);
  }
}

.button-more {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;

  @include laptop {
    margin-top: 6rem;
  }
}
</style>
