---
import Icon from '@/components/common/Icon.astro';

const { data, tag: Tag = 'div' } = Astro.props;
---

<Tag class="card">
  <div class="card__content">
    <h3 class="card__title gl-title" set:html={data.title} />
    <p class="card__descr gl-descr" set:html={data.descr} />
    <div class="card__footer">
      <span class="card__price" set:html={data.price} />
      <a href="" class="card__link">
        <Icon name="arrow-prev-in-circle-gradient" size="60" />
        <Icon class="card__icon-default" name="arrow-prev-in-circle" size="60" />
      </a>
    </div>
  </div>
</Tag>

<style lang="scss">
.card {
  --padding: 1.6rem;
  --border-radius: 1.6rem;
  --border-width: 0.1rem;
  --border-width-hover: 0.2rem;
  --background: #A9AAAC; //--dark-terteriary in hex6
  --background-hover: var(--blue-gradient);
  position: relative;
  display: flex;
  background: var(--background-hover);
  border-radius: var(--border-radius);
  transition: transform 0.4s cubic-bezier(0, 0, .4, 1);

  @include laptop {
    --padding: 3rem;
    --border-radius: 3rem;
  }
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  border-radius: var(--border-radius);
  transition: opacity 0.4s;
}

.card:hover {
  transform: scale(1.07);
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(110deg, #4aa9ff 0%, #99e7ff 40%, #4aa9ff 80%);
  background-size: 200% 100%;

  &::before {
    opacity: 0;
  }

  .card__content {
    margin: var(--border-width-hover);
    padding: calc(var(--padding) - var(--border-width-hover));
    border-radius: calc(var(--border-radius) - var(--border-width-hover));
  }

  .card__icon-default {
    opacity: 0;
  }
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin: var(--border-width);
  padding: calc(var(--padding) - var(--border-width));
  background-color: var(--light-primary);
  border-radius: calc(var(--border-radius) - var(--border-width));
  transition: margin 0.4s, padding 0.4s, border-radius 0.4s;
}

.card__title {
  text-align: left;
  font-size: 2.6rem;
  line-height: 1.2;
}

.card__descr {
  text-align: left;

  @include laptop {
    font-size: 2rem;
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.card__price {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: var(--dark-primary);

  @include laptop {
    font-size: 2.4rem;
  }
}

.card__link {
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
  text-decoration: none;
}

.card__link:hover .card__icon-default {
  opacity: 0;
}

.card__icon-default {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-primary);
  transition: opacity 0.4s;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
</style>
