@import "./sanitize.css";
@import "./variables.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--dark-secondary);
  background-color: var(--light-primary);
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: var(--dark-primary);
}

:where(p) {
  margin: 0;
}

:where(img) {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.container {
  margin: 0 1.6rem;

  @include tablet {
    margin: 0 3rem;
  }

  @include laptop {
    max-width: 96.4rem;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 120rem;
  }
  
  &.small {
    @include desktop {
      max-width: 99.4rem;
    }
  }
}

.marg-bott {
  margin-bottom: 9rem;

  @include laptop {
    margin-bottom: 13.5rem;
  }
}

.gl-title {
  font-size: 3.4rem;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-align: center;

  @include tablet {
    font-size: 4rem;
    line-height: 1.2;
  }
  @include laptop {
    font-size: 4.4rem;
  }
}

.gl-descr {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;

  @include tablet {
    font-size: 1.8rem;
  }
  @include laptop {
    font-size: 2rem;
  }
}

/* Показать элемент в определённых брейкпоинтах */
.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.tablet {
  display: none !important;
  @include tablet {
    display: block !important;
  }
}

.tablet-max {
  display: none !important;
  @include tablet-max {
    display: block !important;
  }
}

.tablet-only {
  display: none !important;
  @include tablet-only {
    display: block !important;
  }
}

.laptop {
  display: none !important;
  @include laptop {
    display: block !important;
  }
}

.laptop-max {
  display: none !important;
  @include laptop-max {
    display: block !important;
  }
}

.laptop-only {
  display: none !important;
  @include laptop-only {
    display: block !important;
  }
}

.desktop {
  display: none !important;
  @include desktop {
    display: block !important;
  }
}

/* Скрыть элемент в определённых брейкпоинтах */
.hide {
  display: none !important;
}

.hide-mobile-only {
  @include mobile-only {
    display: none !important;
  }
}

.hide-tablet {
  @include tablet {
    display: none !important;
  }
}

.hide-tablet-max {
  @include tablet-only {
    display: none !important;
  }
}
.hide-tablet-only {
  @include tablet-only {
    display: none !important;
  }
}

.hide-laptop {
  @include laptop {
    display: none !important;
  }
}

.hide-laptop-max {
  @include laptop-max {
    display: none !important;
  }
}

.hide-laptop-only {
  @include laptop-only {
    display: none !important;
  }
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}

