@import "./sanitize.css";
@import "./variables.css";

html {
  height: 100%;
  font-family: var(--font-primary);
  font-size: 62.5%; /* 10px */
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--dark-primary);
}

body {
  height: 100%;
  font-size: 1.6rem;
  background-color: var(--light-primary);
}

h1 {
  margin-top: 0;
  color: var(--blue-secondary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.container {
  margin: 0 1.6rem;

  @include tablet {
    margin: 0 3rem;
  }

  @include laptop {
    max-width: 96.4rem;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 120rem;
    background: orange;
  }
}
