@import "./fonts.css";

:root {
  /* FONTS */
  --font-primary: 'Inter';
  /* --font-primary: 'Inter', Arial, Helvetica, sans-serif; */

  /* COLORS */
  --black: #000000;
  --light-primary: #ffffff;
  --dark-primary: #080D13;
  --dark-secondary: rgba(8, 13, 19, 0.65); /* rgba(var(--dark-primary), 0.65) */
  --blue-primary: #4aa9ff;
  --blue-secondary: #4ad5ff;
  /* --gray: #323232; */
}