@import "./fonts.css";

:root {
  /* FONTS */
  --font-primary: 'Inter';
  /* --font-primary: 'Inter', Arial, Helvetica, sans-serif; */

  /* COLORS */
  --light-primary: #ffffff;
  --dark-primary: #080D13;
  --dark-secondary: rgba(var(--dark-primary), 0.65);
  --blue-primary: #4aa9ff;
  --blue-secondary: #4aa9ff;
  /* --black: #000000; */
  /* --gray: #323232; */
}