---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="container">
      <h1>Аутсорс-бухгалтерия как нужно проще</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum ullam voluptatum cumque dolores amet iure ratione deserunt? Est explicabo quasi, temporibus nam molestiae eveniet tempore animi. Quos repudiandae itaque ullam.
      Natus dolore maiores odit nemo dolorum illo hic eveniet, sapiente ipsum labore numquam adipisci ex assumenda asperiores ducimus quis deleniti, iste impedit! Quasi obcaecati aliquam sit eveniet cum pariatur perferendis!
      Neque maiores fugiat maxime laborum inventore eligendi, nostrum est, iste tenetur soluta delectus saepe perferendis quis! Optio accusantium animi, excepturi perspiciatis quaerat odio. Possimus saepe libero praesentium quaerat. Animi, nulla?
      Dolorem, hic aspernatur quasi dolore quis est veniam vel nisi voluptatibus qui consequuntur molestiae sed atque non cupiditate sequi, et, labore voluptates ipsam id voluptatum perferendis iusto ea magnam. Fugit.
      Temporibus doloremque soluta nam, voluptates dolor neque eveniet impedit asperiores accusamus, natus quasi sint doloribus fugiat dolore, minus aut architecto quod velit cupiditate itaque error porro exercitationem vitae nesciunt. Sint.
      Pariatur sit vel libero iusto, officiis perferendis animi, eum nesciunt et accusantium corporis molestias blanditiis aperiam! Corrupti totam tenetur, eum mollitia dicta quos aspernatur laborum omnis repudiandae, quibusdam dolore ex?
      Impedit odio, doloribus dignissimos minima tenetur nesciunt veritatis quos. Ratione, dolorum. Ipsam maiores architecto, obcaecati molestias fuga dicta voluptas facilis vitae alias pariatur ullam commodi dolore necessitatibus aut eveniet error.
      Voluptas facilis animi vitae dolor quod reprehenderit maxime, eaque eligendi et consequatur. Esse dolores, voluptates nobis totam magni exercitationem qui reprehenderit in rerum reiciendis, nam ipsam deserunt vitae modi id.
      Doloremque ratione nobis aspernatur similique. Dolorem dicta placeat voluptatibus aliquam architecto fugiat omnis officiis consequuntur, beatae officia earum laborum eius, tempore dolores. Nihil mollitia reiciendis neque. Totam quia facere nobis!
      Molestiae fuga accusantium odit exercitationem corrupti quibusdam natus. Ipsum quidem laboriosam quis, ea soluta reprehenderit rerum ab officia voluptatibus doloremque numquam cumque obcaecati harum rem magnam deleniti repellendus eius architecto.</p>
    </div>
  </section>
</body>
</html>
