---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Первая Онлайн Бухгалтерия</title>
</head>
<body>
  <Header />
  <main>
    <section>
      <div class="container">
        <h1>Аутсорс-бухгалтерия как нужно проще</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum ullam voluptatum cumque dolores amet iure ratione deserunt? Est explicabo quasi, temporibus nam molestiae eveniet tempore animi. Quos repudiandae itaque ullam.
          Natus dolore maiores odit nemo dolorum illo hic eveniet, sapiente ipsum labore numquam adipisci ex assumenda asperiores ducimus quis deleniti, iste impedit! Quasi obcaecati aliquam sit eveniet cum pariatur perferendis!
          Neque maiores fugiat maxime laborum inventore eligendi, nostrum est, iste tenetur soluta delectus saepe perferendis quis! Optio accusantium animi, excepturi perspiciatis quaerat odio. Possimus saepe libero praesentium quaerat. Animi, nulla?
          Dolorem, hic aspernatur quasi dolore quis est veniam vel nisi voluptatibus qui consequuntur molestiae sed atque non cupiditate sequi, et, labore voluptates ipsam id voluptatum perferendis iusto ea magnam. Fugit.
          Temporibus doloremque soluta nam, voluptates dolor neque eveniet impedit asperiores accusamus, natus quasi sint doloribus fugiat dolore, minus aut architecto quod velit cupiditate itaque error porro exercitationem vitae nesciunt. Sint.
        </p>
      </div>
    </section>
  </main>
  <Footer />
</body>
</html>
