---
import Header from "../components/Header.astro";
import Footer from "../components/Footer/index.astro";
import Picture from "../components/Picture.astro";
import Image from "../components/Image.astro";
import Button from "../components/Button.astro";
import "../styles/global.scss";

const heroSizes = {
  "320": [288, 200],
  "768": [708, 340],
  "1024": [964, 340],
  "1440": [1200, 340]
};
const progressSizes = {
  "320": [288, 193],
  "768": [346, 208],
  "1024": [467, 321],
  "1440": [482, 291]
};
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Первая Онлайн Бухгалтерия</title>
</head>
<body>
  <Header />
  <main>
    <section class="hero marg-bott">
      <div class="container">
        <Picture class="hero__img" path="images/index/section1" sizes={heroSizes}/>
        <h1 class="hero__title">Аутсорс-бухгалтерия <br>как нужно проще</h1>
        <p class="hero__descr">11&nbsp;лет ведём налоговый, кадровый и&nbsp;бухучёт для&nbsp;ИП и&nbsp;ООО <br class="tablet">на&nbsp;всех формах собственности и&nbsp;системах налогообложения, <br class="tablet">а&nbsp;также готовим отчёты в&nbsp;Росстат</p>
        <div class="hero__buttons">
          <Button>Оставить заявку</Button>
          <Button color="ligth">Все тарифы</Button>
        </div>
      </div>
    </section>
    <section class="marg-bott">
      <div class="container small">
        <div class="progress-wrapper">
          <div class="progress-hero">
            <div class="progress-hero__content">
              <h2 class="progress-hero__title">Пусть за&nbsp;нас скажут поступки</h2>
              <p class="progress-hero__descr">Мы&nbsp;начинали с&nbsp;обычной доработкой&nbsp;1С, но&nbsp;потом все закрутилось</p>
            </div>
            <Picture class="progress-hero__img" path="images/index/section2" sizes={progressSizes}/>
          </div>
          <div class="progress-card">
            <p class="progress-card__descr">Первые запустили банковскую бухгалтерию</p>
            <Image src="images/index/section2-cup.webp" width="60" height="60"/>
          </div>
          <div class="progress-card">
            <p class="progress-card__descr">Первые запустили бухгалтерию на&nbsp;АвтоУСН</p>
            <Image src="images/index/section2-cup.webp" width="60" height="60"/>
          </div>
          <div class="progress-card">
            <p class="progress-card__descr">Первые выпустили МЧД для отправки отчётов за&nbsp;клиентов</p>
            <Image src="images/index/section2-cup.webp" width="60" height="60"/>
          </div>
          <div class="progress-last">
            И&nbsp;это ещё не&nbsp;всё: <span>входим в&nbsp;кластер &laquo;Сколково&raquo; и&nbsp;реестр Российского&nbsp;ПО</span>
          </div>
        </di>
      </div>
    </section>
  </main>
  <Footer />
</body>
</html>

<style lang="scss">
.hero {
  &__img {
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 3.4rem;
    line-height: 1.1;
    text-align: center;
    color: var(--blue-secondary);
  
    @include tablet {
      font-size: 5rem;
    }
    @include laptop {
      font-size: 6rem;
    }
  }

  &__descr {
    margin-bottom: 3rem;
    text-align: center;
  
    @include tablet {
      font-size: 1.8rem;
    }
    @include laptop {
      font-size: 2rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @include mobile-only {
      flex-direction: column;
    }
  }
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include laptop {
    column-gap: 3rem;
  }
}

.progress-hero,
.progress-card {
  padding: 1.6rem;
  background-color: #F5F5F6;
  border-radius: 1.6rem;

  @include tablet {
    border-radius: 2rem;
  }
  @include laptop {
    padding: 3rem;
    border-radius: 3rem;
  }
}

.progress-hero {
  padding: 0;

  @include tablet {
    grid-row: 1 / 5;
  }

  &__content {
    padding: 1.6rem;
    text-align: center;

    @include laptop {
      padding: 4rem 4rem 1.6rem;
    }
  }

  &__title {
    font-size: 2.6rem;

    @include tablet {
      font-size: 3rem;
    }
    @include laptop {
      font-size: 3.6rem;
    }
  }

  &__descr {
    margin-top: 2rem;
    @include laptop {
      font-size: 2rem;
    }
  }

  &__img {
    margin: 0 auto;
  }
}

.progress-card {
  display: flex;
  align-items: center;
  column-gap: 3rem;

  &__descr {
    margin-right: auto;

    @include laptop {
      font-size: 2rem;
    }
  }
}

.progress-last {
  --padding: 1.6rem;
  --border-width: 0.2rem;
  --border-radius: 1.6rem;
  position: relative;
  margin: var(--border-width);
  padding: calc(var(--padding) - var(--border-width));
  border-radius: calc(var(--border-radius) - var(--border-width));
  background-color: var(--light-primary);
  font-weight: 600;
  line-height: 1.3;

  @include tablet {
    --border-radius: 2rem;
  }
  @include laptop {
    --padding: 3rem;
    --border-radius: 3rem;
    font-size: 2rem;
    line-height: 1.5;
  }

  span {
    background: linear-gradient(90deg, #4aa9ff 0%, #4ad5ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: calc(-1 * var(--border-width));
    border-radius: var(--border-radius);
    background: linear-gradient(90deg, #4aa9ff 0%, #4ad5ff 100%);
  }
}
</style>
