---
import Logo from "./Logo.astro";
import Button from "./Button.astro";
import Social from "./Social.astro";
---

<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <Logo area="footer"/>
      <p class="footer__text">Занимайтесь бизнесом, а не бухгалтерией — оставьте заявку, <br>а коллеги ответят на вопросы и помогут с подключением</p>
      <Button class="footer__button-request">Оставить заявку</Button>
    </div>
    <div class="footer__main">
      <Social />
      <nav class="footer__navigation">
        <ul class="footer__navigation-list">
          <li>
            <a href="" class="footer__navigation-link">Бухгалтерия для ИП</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Бухгалтерия для ООО</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Бухгалтерия для селлеров</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Нулевая отчётность</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Новому бизнесу</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Партнёрская программа</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Оферта</a>
          </li>
          <li>
            <a href="" class="footer__navigation-link">Тарифы</a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer__cookie">
      Мы&nbsp;используем файлы <a href="" target="_blank">&laquo;cookie&raquo;</a>, чтобы вам было удобно у&nbsp;нас на&nbsp;сайте. Вы&nbsp;можете отключить использование &laquo;cookie&raquo; в&nbsp;настройках браузера.
    </p>
  </div>
</footer>

<style lang="scss">
.footer {
  padding: 4rem 0 1.6rem;
  border-top: 0.01rem solid #E1E1E1;

  @include tablet {
    padding-bottom: 3rem;
  }

  @include laptop {
    padding: 6rem 0;
  }
}

.footer__head {
  @include tablet {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  @include laptop {
    grid-template-columns: auto 1fr auto;
    column-gap: 3rem;
  }

  @include desktop {
    column-gap: 6rem;
  }
}

.footer__text {
  margin: 0;
  font-size: 1.4rem;

  @include mobile-only {
    max-width: 43rem;
    margin-top: 3rem;

    br {
      display: none;
    }
  }

  @include tablet-only {
    margin-left: auto;
  }

  @include desktop {
    font-size: 1.6rem;
  }
}

.footer__button-request {
  @include tablet-max {
    grid-column: span 2;
    width: 100%;
    margin-top: 4rem;
  }
}

.footer__main {
  margin: 4rem 0;
  
  @include laptop {
    margin: 6rem 0;
  }
}

.footer__cookie {
  margin: 0;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  border-top: 0.01rem solid #E1E1E1;

  @include laptop {
    font-size: 1.6rem;
  }

  a {
    color: inherit;
  }
}

.footer__navigation-list {
  margin: 0;
}

.footer__navigation-link {
  font-weight: 500;
  color: var(--dark-secondary);
  text-decoration: none;
  transition: color 0.3s;
}

.footer__navigation-link:hover,
.footer__navigation-link:focus {
  color: var(--dark-primary);
}
</style>
