---
import Logo from "./Logo.astro";
import Button from "./Button.astro";
---

<header class="header">
  <div class="header__container container">
    <Logo class="header__logo" area="header"/>
    <nav class="header__navigation">
      <ul class="header__navigation-list">
        <li>
          <a href="" class="header__navigation-link">О нас</a>
        </li>
        <li>
          <a href="" class="header__navigation-link">Тарифы</a>
        </li>
        <li>
          <a href="" class="header__navigation-link">Услуги</a>
        </li>
      </ul>
    </nav>
    <Button class="header__button-request">Оставить заявку</Button>
    <Button class="header__button-menu">Меню</Button>
  </div>
</header>

<style lang="scss">
.header {
  padding: 1rem 0;
  border-bottom: 0.01rem solid #E1E1E1;
}

.header__container {
  display: flex;

  @include mobile-only {
    margin: 0 1rem;
  }
}

.header__logo {
  margin-right: auto;
}

.header__navigation {
  margin-right: 2.5rem;

  @include laptop-max {
    display: none;
  }
}

.header__navigation-list {
  display: flex;
  height: 100%;
  margin: 0;
}

.header__navigation-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 111%;
  color: var(--dark-secondary);
  text-decoration: none;
  transition: color 0.3s;
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: var(--dark-primary);
}

.header__button-request {
  @include mobile-only {
    display: none;
  }
}

.header__button-menu {
  margin-left: 1rem;
}
</style>
