---
import Section from "@/components/common/Section.astro";
import Promo from "@/components/common/Promo/index.astro";

const { data } = Astro.props;
---

<Section size={data.size}>
  <Promo data={data} />
</Section>
