---
const { class: className = '', ...rest } = Astro.props;
const classes = ['agreement', className].filter(Boolean).join(' ');
---

<p class={classes} {...rest}>
  <span set:html={"Оставляя заявку, вы&nbsp;соглашаетесь с&nbsp;"} />
  <a href="" target="_blank" set:html={"условиями <br class=\"tablet\">использования сервиса &laquo;Первая&nbsp;Онлайн&nbsp;Бухгалтерия&raquo;"} />
</p>

<style lang="scss">
.agreement {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;

  @include laptop {
    font-size: 1.6rem;
  }

  a {
    color: inherit;
    transition: color 0.4s;
  }

  a:hover {
    color: var(--dark-primary);
  }
}
</style>
