---
const { data, class: className = '', ...rest } = Astro.props;
---

<nav class={`navigation ${className}`} {...rest}>
  <ul class="navigation-list">
    {data.map((link) => (
      <li class="navigation-item">
        <a href={link.href} class="navigation-link">{link.text}</a>
      </li>
    ))}
  </ul>
</nav>

<style lang="scss">
.navigation-list {
  margin: 0;

  @include tablet {
    column-count: 2;
  }

  @include desktop {
    column-gap: 5rem;
  }
}

.navigation-item {
  margin-bottom: 1.1rem;
}

.navigation-link {
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-secondary);
  text-decoration: none;
  transition: color 0.3s;

  @include laptop {
    font-size: 1.8rem;
  }
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--dark-primary);
}
</style>
