---
import Button from "../Button.astro";
import Picture from "../Picture.astro";

const { data, class: className = '', ...rest } = Astro.props;
---

<article class={`banner ${className}`} {...rest}>
  <div class="banner__content">
    <h4 class="banner__title">Телеграм канал с&nbsp;новостями</h4>
    <p class="banner__descr">Поможем не&nbsp;уснуть от&nbsp;скучных новостей, <br class="tablet hide-desktop">но остаться в&nbsp;курсе событий</p>
    <Button class="banner__button" color="white">Подписаться</Button>
  </div>
  <Picture path={data.image.path} sizes={data.image.sizes}>
</article>

<style lang="scss">
.banner {
  background: linear-gradient(129deg, #4aa9ff 0%, #4ad5ff 100%);
  border-radius: 1.6rem;
  
  @include tablet {
    display: flex;
    border-radius: 2rem;
    background: linear-gradient(143deg, #4aa9ff 0%, #4ad5ff 100%);
  }
  
  @include laptop {
    border-radius: 3rem;
  }
  
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 1.6rem;
    color: var(--light-primary);

    @include tablet {
      padding: 3rem;
      padding-right: 0;
    }
  }

  &__title {
    font-size: 3rem;
    letter-spacing: -0.02em;
    color: inherit;

    @include tablet {
      line-height: 1;
    }
  }

  &__descr {
    @include laptop {
      font-size: 1.8rem;
    }
  }

  &__button {
    @include tablet {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}
</style>
