---
import Button from "../Button.astro";
import Picture from "../Picture.astro";

const { data, class: className = '', ...rest } = Astro.props;
---

<article class={`banner ${className}`} {...rest}>
  <div class="content">
    <h4 class="title gl-title">Телеграм канал с&nbsp;новостями</h4>
    <p class="descr gl-descr">Поможем не&nbsp;уснуть от&nbsp;скучных новостей, <br class="tablet hide-desktop">но остаться в&nbsp;курсе событий</p>
    <Button class="banner-button" color="white">Подписаться</Button>
  </div>
  <Picture class="image" path={data.image.path} sizes={data.image.sizes}>
</article>

<style lang="scss">
.banner {
  background: linear-gradient(129deg, #4aa9ff 0%, #4ad5ff 100%);
  border-radius: 1.6rem;
  
  @include tablet {
    display: flex;
    background: linear-gradient(143deg, #4aa9ff 0%, #4ad5ff 100%);
    border-radius: 2rem;
  }
  
  @include laptop {
    border-radius: 3rem;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  padding: 1.6rem;
  color: var(--light-primary);

  @include tablet {
    padding: 3rem;
    padding-right: 0;
  }
}

.title {
  text-align: left;
  font-size: 3rem;
  letter-spacing: -0.02em;
  color: inherit;

  @include tablet {
    line-height: 1;
  }
}

.descr {
  text-align: left;
  @include laptop {
    font-size: 1.8rem;
  }
}

.banner-button {
  @include tablet {
    align-self: flex-start;
    margin-top: auto;
  }
}

.image {
  @include mobile-only {
    margin: 0 auto;
  }
}
</style>
